$blue: tomato;
//$blue: #14b383;

body {
    padding: 0;
    margin: 0;
    font-family: 'Gotham Book';
    letter-spacing: -.5px;
    color: #0e0e16;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: $blue;

    &:hover {
        text-decoration: none;
    }
}

ul {
    padding: 0;

    li {
        list-style: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gotham Bold';

    margin: 0;
}

h1 {
    font-size: 6.25em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.82em;
}

p,
li {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('./assets/bg-striped-desktop.png');
    background-repeat: no-repeat;
    opacity: .2;
}

.btn {
    padding: 0.8em 2em;
    border: 2px solid $blue;
    font-family: 'Gotham Bold';
    color: $blue;
    position: relative;
    transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0%;
        background: $blue;
        bottom: 0;
        left: 0;
        transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        z-index: -1;
    }

    &:hover,
    &:focus {
        color: white;

        &:after {
            height: 100%;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background: #0e0e16;

    .logo {
        text-transform: uppercase;
        font-family: 'Gotham Bold';
        color: white;
        display: flex;
        align-items: center;

        img {
            width: 40px;
        }
    }

    .menu {
        display: flex;

        li {
            margin: 0 20px;

            a {
                color: white;
            }

            .active {
                color: tomato;
            }
        }
    }
}

section {
    padding: 50px 5%;
}

.hero {
    min-height: 60vh;
    display: flex;
    align-items: center;
}

.work {
    h2 {
        margin-bottom: 50px;
    }

    .work-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3em;

        .work-item {
            width: 100%;

            h3 {
                color: #0e0e16;
            }

            img {
                width: 100%;
                margin-bottom: 20px;
            }

            .project-tags {
                p {
                    font-size: 0.9em;
                    color: $blue;
                }
            }

        }
    }
}


.about {
    .content {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        margin-bottom: 50px;
        grid-gap: 2em;
        min-height: 40vh;
        padding-top: 50px;
        padding-bottom: 150px;

        .intro {
            .btn {
                display: inline-flex;
            }
        }

        .skills {
            .row {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 12px;

                ul {
                    li:first-child {
                        line-height: 1.6;
                    }

                    li {
                        font-size: 14px;
                    }
                }
            }
        }

        h1 {
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 30px;
            padding-right: 4em;
        }

    }

    .image {
        width: 100%;
        position: relative;

        .img-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba($color: #f5f5f5, $alpha: 0.525);
        }

        .text {
            width: 80%;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;

            h1 {
                color: #0e0e16;

                a {
                    color: tomato;
                }
            }
        }

        img {
            width: 100%;
            filter: grayscale(86%);
        }
    }
}

.contact {
    height: 60vh;
    display: flex;
    align-items: center;
}

.footer {
    padding: 5%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}


.project {
    .project-intro {
        margin-bottom: 150px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;

        .intro-section {
            h3 {
                margin-bottom: 30px;
            }
        }
    }

    .project-section {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 80px;

        .section-title {
            display: flex;
            align-items: center;
            margin-bottom: 50px;
            padding: 30px 0;

            h2 {
                display: block;
            }
        }

        .section-images {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2em;

            img {
                box-shadow: 0 4px 15px 0 rgba($color: black, $alpha: 0.25);
                width: 100%;
            }
        }
    }

    .color {
        grid-template-columns: 1fr;

        h2 {
            margin: 50px 0;
        }

        .section-images {
            grid-template-columns: 1fr;

        }
    }

    .complete {
        grid-template-columns: 1fr;

    }

    .projects-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            display: flex;
            align-items: center;
            color: #0e0e16;

            i {
                margin: 0 10px;
            }
        }
    }
}

/*----------------------
Media Queries
------------------------*/
//tablet
@media screen and (max-width: 1124px) {
    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 16px;
    }

    .work {
        .work-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}


//Mobile

@media screen and (max-width: 550px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: 16px;
    }

    .nav {
        .menu {
            li {
                margin: 0 10px;

                a {
                    font-size: 16px;
                }
            }
        }
    }

    .hero {
        min-height: 30vh;
    }

    .work {
        .work-grid {
            grid-template-columns: 1fr;
        }
    }

    .about {
        .content {
            grid-template-columns: 1fr;

            .intro {
                p {
                    padding-right: 0;
                }
            }
        }

        .image {
            .text {
                h1 {
                    font-size: 1.2em;

                }
            }
        }
    }

    .project {
        .project-intro {
            grid-template-columns: 1fr;

            .intro-section {
                h3 {
                    margin-bottom: 30px;
                }
            }
        }

        .project-section {
            .section-images {
                grid-template-columns: 1fr;
            }
        }
    }
}