body {
  padding: 0;
  margin: 0;
  font-family: 'Gotham Book';
  letter-spacing: -.5px;
  color: #0e0e16;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: tomato;
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gotham Bold';
  margin: 0;
}

h1 {
  font-size: 6.25em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.82em;
}

p,
li {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("./assets/bg-striped-desktop.png");
  background-repeat: no-repeat;
  opacity: .2;
}

.btn {
  padding: 0.8em 2em;
  border: 2px solid tomato;
  font-family: 'Gotham Bold';
  color: tomato;
  position: relative;
  -webkit-transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  background: tomato;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: -1;
}

.btn:hover, .btn:focus {
  color: white;
}

.btn:hover:after, .btn:focus:after {
  height: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 5%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background: #0e0e16;
}

.nav .logo {
  text-transform: uppercase;
  font-family: 'Gotham Bold';
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .logo img {
  width: 40px;
}

.nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .menu li {
  margin: 0 20px;
}

.nav .menu li a {
  color: white;
}

.nav .menu li .active {
  color: tomato;
}

section {
  padding: 50px 5%;
}

.hero {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work h2 {
  margin-bottom: 50px;
}

.work .work-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
}

.work .work-grid .work-item {
  width: 100%;
}

.work .work-grid .work-item h3 {
  color: #0e0e16;
}

.work .work-grid .work-item img {
  width: 100%;
  margin-bottom: 20px;
}

.work .work-grid .work-item .project-tags p {
  font-size: 0.9em;
  color: tomato;
}

.about .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  margin-bottom: 50px;
  grid-gap: 2em;
  min-height: 40vh;
  padding-top: 50px;
  padding-bottom: 150px;
}

.about .content .intro .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.about .content .skills .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
}

.about .content .skills .row ul li:first-child {
  line-height: 1.6;
}

.about .content .skills .row ul li {
  font-size: 14px;
}

.about .content h1 {
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
  padding-right: 4em;
}

.about .image {
  width: 100%;
  position: relative;
}

.about .image .img-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(245, 245, 245, 0.525);
}

.about .image .text {
  width: 80%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.about .image .text h1 {
  color: #0e0e16;
}

.about .image .text h1 a {
  color: tomato;
}

.about .image img {
  width: 100%;
  -webkit-filter: grayscale(86%);
          filter: grayscale(86%);
}

.contact {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding: 5%;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.project .project-intro {
  margin-bottom: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

.project .project-intro .intro-section h3 {
  margin-bottom: 30px;
}

.project .project-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-bottom: 80px;
}

.project .project-section .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  padding: 30px 0;
}

.project .project-section .section-title h2 {
  display: block;
}

.project .project-section .section-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.project .project-section .section-images img {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
}

.project .color {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.project .color h2 {
  margin: 50px 0;
}

.project .color .section-images {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.project .complete {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.project .projects-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .projects-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0e0e16;
}

.project .projects-nav a i {
  margin: 0 10px;
}

/*----------------------
Media Queries
------------------------*/
@media screen and (max-width: 1124px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 16px;
  }
  .work .work-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 16px;
  }
  .nav .menu li {
    margin: 0 10px;
  }
  .nav .menu li a {
    font-size: 16px;
  }
  .hero {
    min-height: 30vh;
  }
  .work .work-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about .content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about .content .intro p {
    padding-right: 0;
  }
  .about .image .text h1 {
    font-size: 1.2em;
  }
  .project .project-intro {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .project .project-intro .intro-section h3 {
    margin-bottom: 30px;
  }
  .project .project-section .section-images {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
